# packaging
pip>=9

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
google-cloud-storage

# utilities
six>=1.14
joblib
termcolor
scikit-image

tensorflow
imageio
